<%include file="HEADER.tmpl"/>
<script src="${docroot}/static/js/spiderfoot.newscan.js"></script>
<h2>New Scan</h2>
<div style='padding-top: 20px'>
<form class="form" action='${docroot}/startscan' method='POST'>
<div class='col-sm-3' style='padding: 0'>
    <label for="scanname">Scan Name</label>
    <div class="input-group" style='padding-bottom: 10px'>
        <input class='form-control' type="text" id="scanname" name="scanname" value="${scanname}" placeholder="The name of this scan.">
    </div>
    <label for="scantarget">Scan Target</label>
    <div class="input-group">
        <input class='form-control' type="text" value="${scantarget}" id="scantarget" name="scantarget" placeholder="The target of your scan.">
    </div>
</div>
<div class='col-sm-9' style='font-size: 12px; padding: 0; padding-left: 10px'>
    <div class='panel panel-default' style='background-color: #f7f7f7'>
        <div class='panel-body' style='padding: 0; margin: 10px'>
            <div class='row' style='padding-bottom: 5px'>
                <div class='col-sm-12'>
                <i class='glyphicon glyphicon-question-sign'></i>&nbsp;&nbsp;Your scan target may be one of the following. SpiderFoot will automatically detect the target type based on the format of your input:
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-6'>
                    <b>Domain Name</b>: e.g. <i>example.com</i><br><b>IPv4 Address</b>: e.g. <i>1.2.3.4</i><br><b>IPv6 Address</b>: e.g. <i>2606:4700:4700::1111</i><br><b>Hostname/Sub-domain</b>: e.g. <i>abc.example.com</i><br><b>Subnet</b>: e.g. <i>1.2.3.0/24</i><br><b>Bitcoin Address</b>: e.g. 1HesYJSP1QqcyPEjnQ9vzBL1wujruNGe7R
                </div>
                <div class='col-sm-6'><b>E-mail address</b>: e.g. <i>bob@example.com</i><br><b>Phone Number</b>: e.g. <i>+12345678901</i> (E.164 format)<br><b>Human Name</b>: e.g. <i>&quot;John Smith&quot;</i> (must be in quotes)<br><b>Username</b>: e.g. <i>&quot;jsmith2000&quot;</i> (must be in quotes)<br><b>Network ASN</b>: e.g. <i>1234</i>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="control-group" style='clear: both; padding-top: 10px'>
        <div class='newscan-columns'>
            <div class='newscan-col'>
                <div class='newscan-col-head'>Profiles</div>
                <div class='newscan-col-sub'>A starting template &mdash; fine-tune anything after.</div>
                <div class='newscan-col-body' id='profile-list'></div>
            </div>
            <div class='newscan-col'>
                <div class='newscan-col-head'>Required Data</div>
                <div class='newscan-col-sub'>Pick what you want to find; modules are chosen for you.</div>
                <input type='text' class='form-control input-sm newscan-filter' id='datatype-filter' placeholder='Filter data types...'>
                <div class='newscan-col-body' id='datatype-list'></div>
            </div>
            <div class='newscan-col'>
                <div class='newscan-col-head'>Modules <small class='text-muted' id='module-count'></small></div>
                <div class='newscan-col-sub'>What will actually run. Tweak freely.</div>
                <input type='text' class='form-control input-sm newscan-filter' id='module-filter' placeholder='Filter modules...'>
                <div class='newscan-col-body' id='module-list'></div>
            </div>
        </div>
        <div class='newscan-summary' id='scan-summary'></div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type=hidden id='modulelist' name='modulelist' value=''>
            <input type=hidden id='typelist' name='typelist' value=''>
            <input type=hidden id='usecase' name='usecase' value=''>
            <button id="btn-run-scan" class="btn btn-danger">Run Scan Now</button>
        </div>
    </div>
</form>
</div>

<script type='text/javascript'>
<%
import json
mod_data = {}
for mid, m in modules.items():
    if mid in ("sfp__stor_db", "sfp__stor_stdout"):
        continue
    opts = m.get('opts', {}) or {}
    apikeys = [k for k in opts if 'api_key' in k.lower()]
    needs_key = len(apikeys) > 0
    key_configured = needs_key and all(opts.get(k) for k in apikeys)
    mod_data[mid] = {
        'name': m.get('name') or mid,
        'descr': m.get('descr') or '',
        'group': m.get('group') or [],
        'consumes': m.get('consumes') or [],
        'provides': m.get('provides') or [],
        'flags': m.get('labels') or [],
        'needsKey': needs_key,
        'keyConfigured': bool(key_configured),
    }
# types rows: (descr/label, code, raw, type) - exclude the internal ROOT seed
dt = sorted([[t[0], t[1]] for t in types if t[1] != 'ROOT'])
%>
var MODULES = ${json.dumps(mod_data).replace('</', '<\\/') | n};
var DATATYPES = ${json.dumps(dt).replace('</', '<\\/') | n};
var PROFILES = ["All", "Footprint", "Investigate", "Passive"];
var PRESELECTED_MODS = "${selectedmods}";
</script>
<%include file="FOOTER.tmpl"/>
