## -*- coding: utf-8 -*-
<%include file="HEADER.tmpl"/>
<%
  if status == "FINISHED":
    statusy = "alert-success"
  elif status.startswith("ABORT"):
    statusy = "alert-warning"
  elif status == "CREATED" or status == "RUNNING" or status == "STARTED" or status == "STARTING" or status == "INITIALIZING":
    statusy = "alert-info"
  elif status == "ERROR-FAILED":
    statusy = "alert-danger"
  else:
    statusy = "alert-info"
  end
%>
<h2>${name}&nbsp;<span id='scanstatusbadge' class='badge ${statusy}'>${status}</span>&nbsp;<span id='scanelapsed' class='text-muted' style='font-size: 14px'></span>&nbsp;<img id="loader" src="${docroot}/static/img/loader.gif"></h2>
  <div class="btn-toolbar" role="toolbar" style='padding-bottom: 10px'>
   <div class="btn-group">
      <a id='btn-status' class="btn btn-default" onClick='scanSummaryView("${id}")'><i class='glyphicon glyphicon-eye-open'></i>&nbsp;Summary</a>
      <a id='btn-correlations' class="btn btn-default" onClick='browseCorrelations("${id}")'><i class='glyphicon glyphicon-exclamation-sign'></i>&nbsp;Correlations</a>
      <a id='btn-browse' class="btn btn-default" onClick='browseEventList("${id}")'><i class='glyphicon glyphicon-th-list'></i>&nbsp;Browse</a>
      <a id='btn-graph' class="btn btn-default" onClick='graphEvents("${id}")'><i class='glyphicon glyphicon-asterisk'></i>&nbsp;Graph</a>
      <a id='btn-info' class="btn btn-default" onClick='viewScanConfig("${id}")'><i class='glyphicon glyphicon-cog'></i>&nbsp;Scan Settings</a>
      <a id='btn-log' class="btn btn-default" onClick='viewScanLog("${id}")'><i class='glyphicon glyphicon-book'></i>&nbsp;Log</a>
    </div>
    <div class='btn-group pull-right'>
        <div id='btn-search' class='input-group pull-right'>
          <input class='form-control' id='searchvalue' type='text' placeholder='Search...' data-toggle='popover' data-html='true' data-animation='true' data-title='Usage' data-content="Supply a regular expression encapsulated in '/', e.g. <i>/searchregex/</i> or a simple wildcard search, e.g. <i>*string*</i> or an exact value, e.g. <i>string</i>.<br /><br /><b>Note</b> that the current scope is what's searched.">
            <div class='input-group-btn' style='width: 0px'> <!-- Chrome fix -->
              <button class='btn btn-primary' id='searchbutton' type='button' onClick="$('#btn-search').popover('toggle');searchDirector('${id}')">
                <i class='glyphicon glyphicon-search glyphicon glyphicon-white'></i>
              </button>
            </div>
        </div>
    </div>
        <div class="btn-group pull-right" role="group">
            <button id='btn-refresh' rel="tooltip" title="Refresh" class="btn btn-success btn-default" onClick='refresh()'><i class='glyphicon glyphicon-refresh glyphicon glyphicon-white'></i></button>
            <button id='btn-download-logs' rel="tooltip" data-title="Download Scan Logs" class="btn btn-default download-button" onClick='downloadLogs("${id}")'><i class='glyphicon glyphicon-download-alt glyphicon glyphicon-white'></i></button>
            <a id='btn-export' rel="tooltip" data-title="Export Data" class="btn btn-default dropdown-toggle download-button" data-toggle="dropdown"><i class='glyphicon glyphicon-download-alt glyphicon glyphicon-white'></i></a>
            <ul class="dropdown-menu">
              <li><a class='link' onClick='exportEventData("${id}", currentType, "csv")'>CSV</a></li>
              <li><a class='link' onClick='exportEventData("${id}", currentType, "excel")'>Excel</a></li>
            </ul>
        </div> 
        <div id='customtabview' role="group" class="btn-group pull-right">
         <a id='btn-fullview' rel="tooltip" data-title="Full Data View" class="btn btn-default active" onClick='browseUpdate("full")'><i class='glyphicon glyphicon-th glyphicon glyphicon-white'></i></a>
         <a id='btn-uniqueview' rel="tooltip" data-title="Unique Data View" class="btn btn-default" onClick='browseUpdate("unique")'><i class='glyphicon glyphicon-align-justify glyphicon glyphicon-white'></i></a>
         <a id='btn-vizview' rel="tooltip" data-title="Visualize" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class='glyphicon glyphicon-picture glyphicon glyphicon-white'></i></a>
         <ul class="dropdown-menu">
            <li><a class='link' onClick='browseUpdate("viz-bubble-data")'>Bubble (Data Element)</a></li>
            <li><a class='link' onClick='browseUpdate("viz-bubble-source")'>Bubble (Source Data Element)</a></li>
            <li><a class='link' onClick='browseUpdate("viz-dendro")'>Discovery Path</a></li>
         </ul>
        </div>
        <div id='customvizview' class="btn-group pull-right">
         <a id='btn-resetview' rel="tooltip" data-title="Reset view (fit &amp; centre)" class="btn btn-default" onClick='cyResetView()'><i class='glyphicon glyphicon-fullscreen'></i></a>
         <a id='btn-relayout' rel="tooltip" data-title="Re-run layout" class="btn btn-default" onClick='cyRelayout()'><i class='glyphicon glyphicon-refresh'></i></a>
         <a id='btn-hidenode' rel="tooltip" data-title="Hide selected node(s)" class="btn btn-default" onClick='cyHideSelected()'><i class='glyphicon glyphicon-eye-close'></i></a>
         <a id='btn-showall' rel="tooltip" data-title="Show all nodes" class="btn btn-default" onClick='cyShowAll()'><i class='glyphicon glyphicon-eye-open'></i></a>
         <a id='btn-saveimage' rel="tooltip" data-title="Save Image" class="btn btn-default" onClick='cyDownload()'><i class='glyphicon glyphicon-picture glyphicon glyphicon-white'></i></a>
        </div>
        <div id='modifyactions' role="group" class="btn-group pull-right">
            <a id='btn-setfp' rel="tooltip" data-title="Set/Unset False Positive flag" class="btn-warning btn btn-default dropdown-toggle" data-toggle="dropdown"><i class='glyphicon glyphicon-ban-circle glyphicon glyphicon-white'></i></a>
            <ul class="dropdown-menu">
                <li><a href='#' class='link' onClick='setFp(1)'>Set False Positive flag</a></li>
                <li><a href='#' class='link' onClick='setFp(0)'>Unset False Positive flag</a></li>
            </ul>
        </div>
  </div>
    <script src="${docroot}/static/node_modules/cytoscape/dist/cytoscape.min.js"></script>
    <script src="${docroot}/static/node_modules/layout-base/layout-base.js"></script>
    <script src="${docroot}/static/node_modules/cose-base/cose-base.js"></script>
    <script src="${docroot}/static/node_modules/cytoscape-fcose/cytoscape-fcose.js"></script>
    <script type='text/javascript'>
        var currentType = "ALL";
        var currentTypeName = "All";
        var currentSection = "btn-browse";
        var lastSearchType = "ALL";
        var lastSearchQuery = "";
        var dataloaders = [];
        var sharedCy = null;
        var graphNodeIds = {};
        var loadersrunning = false;

        // Register the fast fCoSE layout. cose (built-in) is O(n^2) and hangs on
        // large graphs, so fcose is strongly preferred; fall back if unavailable.
        var FCOSE_OK = false;
        try {
            if (typeof cytoscapeFcose !== "undefined") { cytoscape.use(cytoscapeFcose); FCOSE_OK = true; }
        } catch (e) { FCOSE_OK = false; }

        // Layout config tuned to the graph size. fcose 'draft' keeps huge graphs
        // responsive; small graphs get the nicer default quality.
        function graphLayout(fit) {
            var n = sharedCy ? sharedCy.nodes().length : 0;
            if (FCOSE_OK) {
                return {
                    name: 'fcose',
                    quality: n > 1500 ? 'draft' : (n > 400 ? 'default' : 'proof'),
                    randomize: false,
                    animate: false,
                    fit: fit !== false,
                    nodeSeparation: 80
                };
            }
            return { name: 'cose', randomize: false, animate: false, fit: fit !== false };
        }

        var refresh = function() { browseEventList("${id}"); }
        $('#searchvalue').popover({ 'trigger': 'focus', 'placement': 'bottom'});
        $('#searchvalue').keyup(function(event) {
            if (event.keyCode == 13) {
                $('#searchbutton').click();
            }
        });

        function switchSelectAll() {
            if (!$("#checkall")[0].checked) {
                $("input[id*=cb_]").prop('checked', false);
            } else {
                $("input[id*=cb_]").prop('checked', true);
            }
        }

        function getSelected() {
            ids = [];
            $("input[id*=cb_]").each(function(i, obj) {
                if (obj.checked) {
                    ids[ids.length] = obj.id.replace("cb_", "");
                }
            });

            return ids;
        }

        function setFp(flag) {
            sel = getSelected();
            if (sel.length == 0) {
                alertify.error("You need to select at least one record.");
                return false;
            }
            data = JSON.stringify(sel);
            $("#loader").show();
            sf.fetchData('${docroot}/resultsetfp', {'id': '${id}', 'fp': flag, 'resultids': data }, function(ret) {
                $("#loader").hide();
                if (ret[0] == "SUCCESS") {
                    refresh();
                    return;
                }
                if (ret[0] == "WARNING") {
                    alertify.error(ret[1]);
                    return;
                }
                if (ret[0] == "ERROR") {
                    alertify.error("There was an error setting false positives because: " + ret[1] + "<br/>If you believe this to be an error, please log out and log back in, and if the problem repeats, report this as a bug.");
                }
            });
        }

        function navTo(target) {
            var targets = [ "btn-browse", "btn-info", "btn-log", 
                "btn-export", "btn-download-logs", "btn-viz",
                "btn-status", "btn-graph", "btn-correlations" ]
            for (var i = 0; i < targets.length; i++) {
                if (targets[i] == target) {
                    $("#" + targets[i]).addClass("active");
                } else {
                    $("#" + targets[i]).removeClass("active");
                }
            }

            $("#breadcrumbs").remove();
            $("#customtabview").hide();
            $("#customvizview").hide();
            $("#modifyactions").hide();
            currentSection = target
            dataloaders = []
        }

        function searchDirector(instanceId) {
            qry = $("#searchvalue").val();
            if (currentType == "ALL") {
                searchResults(instanceId, qry);
            } else {
                searchResults(instanceId, qry, currentType);
            }
        }

        function searchResults(instanceId, query, typeName) {
            // Remove pre-existing tables if they exist
            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            navTo("btn-search");
            $("#modifyactions").hide();
            $("#loader").show();
            $("#btn-export").show();
            $("#btn-download-logs").hide();
            $("#btn-refresh").show();
            $("#btn-search").show();
            $("#scanreminder").hide();
            refresh = function() { searchResults(instanceId, query, typeName); }
            sf.search(instanceId, query, typeName, function(data) {
                            lastSearchType = typeName;
                            lastSearchQuery = query;
                            var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                            crumbs += " <span class='divider'></span></li>";
                            if (typeName != null) {
                                crumbs += " <li><a class='link' onClick=";
                                crumbs += "'browseEventData(\"" + instanceId + "\",\"" + currentTypeName + "\",\"" + typeName + "\",\"full\");'>";
                                crumbs += unescape(currentTypeName) + "</a><span class='divider'></span></li>";
                            }
                            crumbs += "<li>Search results";
                            crumbs += " (" + data.length + " records)</li></ul>";

                            if (data.length == 0) {
                                var table = "<div id='scansummary-content'>&nbsp;&nbsp;No results found. Try broadening your search criteria.</div>";
                            } else {
                                var table = "<table id='scansummary-content' class='table table-bordered table-striped small tablesorter'><thead><tr>";
                                if (typeName == null) {
                                    table += "<th class='sorter-false'>Data Element Type</th>";
                                }
                                table += "<th>Data Element</th><th>Source Data Element</th><th>Source Module</th><th>Identified</th></tr></thead><tbody>";
                                for (var i = 0; i < data.length; i++) {
                                    table += "<tr>";
                                    if (typeName == null) {
                                        table += "<td><pre class='table-border-bg-inherit'>" + data[i][8] + "</pre></td>";
                                    }
                                    table += "<td><pre class='table-border-bg-inherit'>";
                                    table += sf.replace_sfurltag(data[i][1]);
                                    // for debug
                                    table += "</pre></td><td><pre class='table-border-bg-inherit'>";
                                    table += sf.replace_sfurltag(data[i][2]);
                                    table += "</pre></td><td><pre class='table-border-bg-inherit'>" + data[i][3];
                                    table += "</pre></td><td><pre class='table-border-bg-inherit'>" + data[i][0];
                                    table += "</pre></td>";
                                    table += "</tr>";
                                }
                                table += "</tbody></table>"
                            }
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(crumbs + table);
                            $("#scansummary-content").tablesorter();
            });
        }

        // Visualisation (Cytoscape.js)

        // Visibility state, managed independently so by-type and manual hides
        // don't clobber each other.
        var cyOffTypes = {};        // event type -> true when that type is hidden
        var cyManualHidden = {};    // node id -> true when individually hidden
        var cyHiddenVisible = false; // whether the "Hidden" group is shown
        var cySoloActive = null;    // type currently "soloed", or null
        var cyPreSoloOff = null;    // saved cyOffTypes to restore when un-soloing

        // Deterministic colour per event type (stable across reloads / updates),
        // also used for the legend swatches so the legend is a colour key.
        function typeColor(type) {
            var h = 0;
            for (var i = 0; i < type.length; i++) {
                h = (h * 31 + type.charCodeAt(i)) % 360;
            }
            return 'hsl(' + h + ', 60%, 50%)';
        }

        // Cytoscape node IDs must be stable across scanviz fetches so live updates
        // can add only new entities. scanviz numeric IDs change per request, so we
        // key nodes by their label (unique per graph) instead.
        function graphElementsFromData(data, onlyNew) {
            var idToLabel = {};
            data.nodes.forEach(function(n) { idToLabel[n.id] = n.label; });

            var els = [];
            data.nodes.forEach(function(n) {
                if (onlyNew && graphNodeIds[n.label]) return;
                graphNodeIds[n.label] = true;
                els.push({
                    group: 'nodes',
                    data: {
                        id: n.label, label: n.label, ntype: n.type,
                        color: typeColor(n.type), isroot: (n.color == '#f00') ? 1 : 0
                    },
                    position: { x: n.x, y: n.y }
                });
            });
            data.edges.forEach(function(e) {
                var s = idToLabel[e.source], t = idToLabel[e.target];
                if (!s || !t) return;
                if (!graphNodeIds[s] || !graphNodeIds[t]) return;
                var eid = 'e-' + s + '->' + t;
                if (onlyNew && sharedCy && sharedCy.getElementById(eid).length) return;
                els.push({ group: 'edges', data: { id: eid, source: s, target: t } });
            });
            return els;
        }

        // labelFs is the label font size in graph (model) units. We recompute it
        // on zoom so the on-screen text size stays constant (zoom-independent).
        function graphStyle(labelFs) {
            labelFs = labelFs || 13;
            return [
                { selector: 'node', style: {
                    'background-color': 'data(color)',
                    'label': 'data(label)',
                    'font-size': labelFs,
                    'font-weight': 'bold',
                    'color': '#222',
                    'text-opacity': 0,            // labels hidden until hover/highlight
                    'text-background-color': '#fff',
                    'text-background-opacity': 0.9,
                    'text-background-padding': 3,
                    'text-background-shape': 'roundrectangle',
                    'width': 12, 'height': 12,
                    'text-valign': 'center', 'text-halign': 'right'
                }},
                { selector: 'node[isroot = 1]', style: {
                    'width': 20, 'height': 20,
                    'border-width': 3, 'border-color': '#c00'
                }},
                { selector: 'node.showlabel', style: { 'text-opacity': 1, 'z-index': 9999 }},
                { selector: 'node.pinlabel', style: { 'text-opacity': 1, 'z-index': 9999 }},
                { selector: 'edge', style: {
                    'width': 1, 'line-color': '#ccc',
                    'curve-style': 'haystack', 'haystack-radius': 0
                }},
                { selector: 'node:selected', style: {
                    'border-width': 3, 'border-color': '#3a87ad'
                }},
                { selector: 'node.greyed', style: {
                    'background-color': '#bbb', 'opacity': 0.45
                }},
                { selector: 'edge.greyed', style: { 'line-color': '#ddd', 'opacity': 0.4 }},
                { selector: '.faded', style: { 'opacity': 0.1 }},
                { selector: 'node.highlighted', style: { 'z-index': 9999 }},
                { selector: 'edge.highlighted', style: { 'line-color': '#3a87ad', 'width': 2 }}
            ];
        }

        // Keep label text a constant on-screen size regardless of zoom level.
        var cyLastLabelZoom = 0;
        function cyUpdateLabelScale() {
            if (!sharedCy) return;
            var z = sharedCy.zoom();
            if (z <= 0 || Math.abs(z - cyLastLabelZoom) < 0.02) return;
            cyLastLabelZoom = z;
            sharedCy.style().fromJson(graphStyle(13 / z)).update();
        }

        // Wire up the interaction handlers for a freshly-created Cytoscape instance.
        function cyBindEvents() {
            // Hover: reveal a node's label. While a node is focused (highlight
            // active), only the highlighted (non-faded) nodes respond, so a big
            // neighbourhood doesn't flood the view with text.
            sharedCy.on('mouseover', 'node', function(evt) {
                if (!evt.target.hasClass('faded')) evt.target.addClass('showlabel');
            });
            sharedCy.on('mouseout', 'node', function(evt) {
                evt.target.removeClass('showlabel');
            });
            // Click a node: copy its value, highlight its neighbourhood, and pin
            // only the clicked node's label (not every neighbour's).
            sharedCy.on('tap', 'node', function(evt) {
                var node = evt.target;
                copyToClipboard(node.data('label'));
                cyHighlightNeighbors(node);
            });
            // Click empty space: clear any highlight.
            sharedCy.on('tap', function(evt) {
                if (evt.target === sharedCy) cyClearHighlight();
            });
            // Keep label text size constant on screen as the user zooms.
            sharedCy.on('zoom', cyUpdateLabelScale);
            // Right-click a node: hide it and everything downstream of it (into
            // the recoverable "Hidden" group). Right-clicking an already-hidden
            // node (visible via the Hidden group) un-hides it again.
            sharedCy.on('cxttap', 'node', function(evt) {
                var node = evt.target;
                if (cyManualHidden[node.id()]) cyUnhideWithChildren(node);
                else cyHideWithChildren(node);
            });
            // Suppress the browser context menu over the graph canvas.
            $("#graph-container").off('contextmenu').on('contextmenu', function(e) {
                e.preventDefault();
            });
        }

        function cyCreate(data) {
            sharedCy = cytoscape({
                container: document.getElementById('graph-container'),
                elements: graphElementsFromData(data, false),
                style: graphStyle(),
                layout: graphLayout(true)
            });
            cyBindEvents();
            cyApplyVisibility();
            cyRebuildLegend();
        }

        function graphEvents(instanceId) {
            grid = "<div id='scansummary-content'><br />"
            grid += "<div class='graph-flex'>"
            grid += "<div class='graph-container' id='graph-container'></div>"
            grid += "<div id='graph-legend' class='graph-legend'></div>"
            grid += "</div></div>"

            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            $("#loader").show();
            $("#btn-export").show();
            $("#btn-download-logs").hide();
            $("#btn-refresh").show();
            $("#btn-search").hide();
            $("#btn-graph").show();
            $("#scanreminder").hide();
            refresh = function() { graphEvents(instanceId); }
            navTo("btn-graph");
            $("#customvizview").show();
            $("#mainbody").append(grid);

            graphNodeIds = {};
            sharedCy = null;
            cyOffTypes = {};
            cyManualHidden = {};
            cyHiddenVisible = false;
            cySoloActive = null;
            cyPreSoloOff = null;

            sf.fetchData("${docroot}/scanviz?id=" + instanceId + "&gexf=0", null, function(raw) {
                var data;
                try { data = (typeof raw == "string") ? JSON.parse(raw) : raw; }
                catch (e) { data = null; }
                $("#loader").hide();
                if (!data || !data.nodes || data.nodes.length == 0) {
                    $("#graph-container").append("<div class='alert alert-danger'>Insufficient data to produce a graph.</div>");
                    // Still poll: a running scan may produce data shortly.
                    dataloaders.push(function() { graphLiveUpdate(instanceId); });
                    return;
                }
                cyCreate(data);
                // Stream new nodes into the graph while the scan is still running.
                dataloaders.push(function() { graphLiveUpdate(instanceId); });
            });
        }

        // Fade everything except the clicked node and its direct neighbours, and
        // Fade everything except the clicked node and its neighbourhood, and pin
        // only the clicked node's label. Neighbours' labels appear on hover.
        function cyHighlightNeighbors(node) {
            if (!sharedCy) return;
            sharedCy.elements().addClass('faded');
            sharedCy.nodes().removeClass('showlabel pinlabel');
            var hood = node.closedNeighborhood();
            hood.removeClass('faded').addClass('highlighted');
            node.addClass('pinlabel');
        }

        function cyClearHighlight() {
            if (!sharedCy) return;
            sharedCy.elements().removeClass('faded highlighted');
            sharedCy.nodes().removeClass('showlabel pinlabel');
        }

        // Add only entities not already on the graph, preserving existing layout.
        function graphLiveUpdate(instanceId) {
            if (currentSection != "btn-graph") return;
            sf.fetchData("${docroot}/scanviz?id=" + instanceId + "&gexf=0", null, function(raw) {
                var data;
                try { data = (typeof raw == "string") ? JSON.parse(raw) : raw; }
                catch (e) { return; }
                if (!data || !data.nodes || data.nodes.length == 0) return;

                // First data arriving after an empty start: build the graph now.
                if (!sharedCy) {
                    $("#graph-container").empty();
                    cyCreate(data);
                    return;
                }

                var newEls = graphElementsFromData(data, true);
                if (newEls.length == 0) return;
                sharedCy.add(newEls);
                // Refine layout from current positions so existing nodes barely move.
                sharedCy.layout(graphLayout(false)).run();
                cyApplyVisibility();
                cyRebuildLegend();
            });
        }

        function copyToClipboard(text) {
            var done = function() { alertify.success("Copied: " + text); };
            var fail = function() { alertify.error("Failed to copy to clipboard."); };
            if (navigator.clipboard && window.isSecureContext) {
                navigator.clipboard.writeText(text).then(done, fail);
                return;
            }
            // Fallback for non-secure (plain http) contexts.
            var ta = document.createElement("textarea");
            ta.value = text;
            ta.style.position = "fixed";
            ta.style.opacity = "0";
            document.body.appendChild(ta);
            ta.select();
            try {
                document.execCommand("copy") ? done() : fail();
            } catch (err) {
                fail();
            }
            document.body.removeChild(ta);
        }

        // Apply the current visibility model. Three node states:
        //   shown  - fully visible (type on, not manually hidden)
        //   greyed - type is hidden BUT the node still connects visible nodes
        //            (it has visible descendants), so it's kept as a faded,
        //            still-interactive connector with its edges preserved
        //   hidden - removed entirely (a leaf of a hidden type, or manually hidden)
        // Edges are shown when both endpoints are; an edge touching a greyed node
        // is greyed too.
        function cyApplyVisibility() {
            if (!sharedCy) return;

            var shown = {};      // id -> true: fully visible
            var offType = {};    // id -> true: type hidden, candidate for greying
            sharedCy.nodes().forEach(function(n) {
                var id = n.id();
                if (cyManualHidden[id]) {
                    if (cyHiddenVisible) shown[id] = true;   // else fully hidden
                    return;
                }
                if (cyOffTypes[n.data('ntype')]) offType[id] = true;
                else shown[id] = true;
            });

            // A hidden-type node is kept (greyed) if it has a child (outgoing edge)
            // that is itself shown or kept. Propagate up the parent chain until
            // stable so connectors several layers deep are preserved.
            var kept = {};
            var changed = true;
            while (changed) {
                changed = false;
                sharedCy.nodes().forEach(function(n) {
                    var id = n.id();
                    if (!offType[id] || kept[id]) return;
                    var keep = false;
                    n.outgoers('node').forEach(function(c) {
                        if (shown[c.id()] || kept[c.id()]) keep = true;
                    });
                    if (keep) { kept[id] = true; changed = true; }
                });
            }

            sharedCy.batch(function() {
                sharedCy.nodes().forEach(function(n) {
                    var id = n.id();
                    if (shown[id]) { n.show(); n.removeClass('greyed'); }
                    else if (kept[id]) { n.show(); n.addClass('greyed'); }
                    else { n.hide(); }
                });
                sharedCy.edges().forEach(function(e) {
                    var s = e.source().id(), t = e.target().id();
                    var sv = shown[s] || kept[s];
                    var tv = shown[t] || kept[t];
                    if (sv && tv) {
                        e.show();
                        if (kept[s] || kept[t]) e.addClass('greyed');
                        else e.removeClass('greyed');
                    } else {
                        e.hide();
                    }
                });
            });
        }

        // Re-run the force layout over the whole graph.
        function cyRelayout() {
            if (!sharedCy) return;
            cyClearHighlight();
            sharedCy.layout(graphLayout(true)).run();
        }

        // Re-centre and fit the whole graph in the viewport (recover from zoom/pan).
        function cyResetView() {
            if (!sharedCy) return;
            cyClearHighlight();
            sharedCy.fit(sharedCy.elements(':visible'), 30);
        }

        // Hide a node together with all of its downstream descendants. Ancestors
        // are explicitly excluded so a cycle (e.g. a parent<->child pair) can't
        // drag the parent into the hidden set via successors().
        function cyHideWithChildren(nodes) {
            if (!sharedCy) return;
            var grp = nodes.union(nodes.successors().nodes())
                           .difference(nodes.predecessors().nodes());
            grp.nodes().forEach(function(n) { cyManualHidden[n.id()] = true; });
            grp.unselect();
            cyHiddenVisible = false;
            cyApplyVisibility();
            cyRebuildLegend();
        }

        // Un-hide a node and its (hidden) descendants: the inverse of right-click
        // hide, used when right-clicking a node shown via the "Hidden" group.
        function cyUnhideWithChildren(nodes) {
            if (!sharedCy) return;
            var grp = nodes.union(nodes.successors().nodes())
                           .difference(nodes.predecessors().nodes());
            grp.nodes().forEach(function(n) { delete cyManualHidden[n.id()]; });
            cyApplyVisibility();
            cyRebuildLegend();
        }

        // Hide the selected node(s) (and their descendants) into the "Hidden"
        // group (recoverable via the Hidden entry in the legend).
        function cyHideSelected() {
            if (!sharedCy) return;
            var sel = sharedCy.$('node:selected');
            if (sel.length == 0) {
                alertify.error("Select node(s) on the graph first, then hide.");
                return;
            }
            cyHideWithChildren(sel);
        }

        // Reveal everything and clear all hide state (type toggles + manual hides).
        function cyShowAll() {
            if (!sharedCy) return;
            cyOffTypes = {};
            cyManualHidden = {};
            cyHiddenVisible = false;
            cySoloActive = null;
            cyPreSoloOff = null;
            cyApplyVisibility();
            cyRebuildLegend();
        }

        // Show only the given type (hide every other type). Acts as a toggle:
        // clicking solo again restores the filter state from before the solo, so
        // categories you'd hidden by hand stay hidden. Connectors of the hidden
        // types are greyed rather than removed, per cyApplyVisibility.
        function cySoloType(type) {
            if (!sharedCy) return;
            if (cySoloActive === type) {
                cyOffTypes = cyPreSoloOff || {};
                cySoloActive = null;
                cyPreSoloOff = null;
            } else {
                if (cySoloActive === null) cyPreSoloOff = $.extend({}, cyOffTypes);
                var types = {};
                sharedCy.nodes().forEach(function(n) { types[n.data('ntype')] = true; });
                cyOffTypes = {};
                Object.keys(types).forEach(function(t) { if (t !== type) cyOffTypes[t] = true; });
                cySoloActive = type;
            }
            cyApplyVisibility();
            cyRebuildLegend();
        }

        // Build the side legend: a colour key + per-type show/hide and "solo"
        // controls, plus a recoverable "Hidden" group for individually-hidden nodes.
        function cyRebuildLegend() {
            if (!sharedCy) return;
            var counts = {};
            sharedCy.nodes().forEach(function(n) {
                if (cyManualHidden[n.id()]) return;
                var t = n.data('ntype');
                counts[t] = (counts[t] || 0) + 1;
            });
            var sorted = Object.keys(counts).sort();
            var html = "<div class='legend-title'>Node types</div>";
            for (var i = 0; i < sorted.length; i++) {
                var t = sorted[i];
                var off = cyOffTypes[t] ? " off" : "";
                var eye = cyOffTypes[t] ? "glyphicon-eye-close" : "glyphicon-eye-open";
                html += "<div class='legend-item" + off + "'>"
                      + "<span class='legend-swatch' style='background:" + typeColor(t) + "'></span>"
                      + "<span class='legend-name' data-legend-type=\"" + t + "\">" + t + "</span>"
                      + "<span class='legend-count'>" + counts[t] + "</span>"
                      + "<span class='legend-actions'>"
                      + "<i class='glyphicon " + eye + " legend-act' data-toggle-type=\"" + t + "\" title='Show/hide this type'></i>"
                      + "<i class='glyphicon glyphicon-record legend-act' data-solo-type=\"" + t + "\" title='Show only this type'></i>"
                      + "</span></div>";
            }
            var manualCount = Object.keys(cyManualHidden).length;
            if (manualCount > 0) {
                var hoff = cyHiddenVisible ? "" : " off";
                html += "<div class='legend-title' style='margin-top:8px'>Hidden</div>";
                html += "<div class='legend-item" + hoff + "' data-legend-hidden='1'>"
                      + "<span class='legend-swatch' style='background:#888'></span>"
                      + "<span class='legend-name'><i>Hidden nodes</i></span>"
                      + "<span class='legend-count'>" + manualCount + "</span></div>";
            }
            html += "<div class='legend-help'>"
                  + "<b>Nodes:</b> click to copy &amp; highlight, hover to read the "
                  + "label, right-click to hide it and everything below it "
                  + "(right-click again to bring it back).<br><br>"
                  + "<b>Types:</b> click a type (or the <i class='glyphicon glyphicon-eye-open'></i>) "
                  + "to hide/show it; click <i class='glyphicon glyphicon-record'></i> to show "
                  + "only that type. Hidden connector nodes stay greyed so links aren't lost."
                  + "</div>";
            var menu = $("#graph-legend");
            menu.html(html);
            // Clicking the name or the eye toggles that type's visibility. A
            // manual toggle ends any active "solo" so its restore state is fresh.
            menu.find("[data-legend-type], [data-toggle-type]").on("click", function(ev) {
                ev.stopPropagation();
                var t = $(this).attr("data-legend-type") || $(this).attr("data-toggle-type");
                cyOffTypes[t] = !cyOffTypes[t];
                cySoloActive = null;
                cyPreSoloOff = null;
                cyApplyVisibility();
                cyRebuildLegend();
            });
            // The target icon shows only that type.
            menu.find("[data-solo-type]").on("click", function(ev) {
                ev.stopPropagation();
                cySoloType($(this).attr("data-solo-type"));
            });
            menu.find("[data-legend-hidden]").on("click", function() {
                cyHiddenVisible = !cyHiddenVisible;
                cyApplyVisibility();
                cyRebuildLegend();
            });
        }

        // Export the current graph view as a PNG.
        function cyDownload() {
            if (!sharedCy) return;
            var png = sharedCy.png({ full: true, bg: '#ffffff', scale: 2 });
            var a = document.createElement('a');
            a.href = png;
            a.download = 'spiderfoot-ng-graph.png';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

        // Scan status
        function scanSummaryView(instanceId) {
            grid = "<div id='scansummary-content'>";
            grid += "<div class='row'>";
            grid += "<div class='col-sm-7'>";
            grid += "<div class='panel panel-default'>";
            grid += "<div class='panel-heading'><i class='glyphicon glyphicon-eye-open'></i>&nbsp;&nbsp;Scan Status</div><div class='panel-body' style='padding: 5px'>";
            grid += "<div class='btn-toolbar text-center'>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-secondary' style='cursor: default;'>Total</span></button>";
            grid += "<button class='btn disabled btn-md btn-default' id='tcounter' style='cursor: default;'>?</button></div>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-secondary' style='cursor: default;'>Unique</button>";
            grid += "<button class='btn disabled btn-md btn-default' id='ucounter' style='cursor: default;'>?</button></div>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-secondary' style='cursor: default;'>Status</button>";
            grid += "<button class='btn disabled btn-md btn-default' id='status' style='cursor: default;'>?</button></div>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-secondary' style='cursor: default;'>Errors</button>";
            grid += "<button class='btn disabled btn-md btn-default' id='errors' style='cursor: default;'>?</button></div>";
            grid += "</div></div></div></div>";
            grid += "<div class='col-sm-5'>";
            grid += "<div class='panel panel-default'>";
            grid += "<div class='panel-heading'><i class='glyphicon glyphicon-exclamation-sign'></i>&nbsp;&nbsp;Correlations</div><div class='panel-body' style='padding: 5px'>";
            grid += "<div class='btn-toolbar text-center'>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-danger' style='cursor: default;'>High</span></button>";
            grid += "<button class='btn disabled btn-md btn-default' id='corr-high' style='cursor: default;'>?</button></div>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-warning' style='cursor: default;'>Medium</button>";
            grid += "<button class='btn disabled btn-md btn-default' id='corr-medium' style='cursor: default;'>?</button></div>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-primary' style='cursor: default;'>Low</button>";
            grid += "<button class='btn disabled btn-md btn-default' id='corr-low' style='cursor: default;'>?</button></div>";
            grid += "<div class='btn-group' style='float: unset; padding: 5px'><button class='btn disabled btn-md btn-success' style='cursor: default;'>Info</button>";
            grid += "<button class='btn disabled btn-md btn-default' id='corr-info' style='cursor: default;'>?</button></div>";
            grid += "</div></div></div></div></div>";
            grid += "<div class='row'><div class='col-sm-12'>";
            grid += "<div class='panel panel-default'>";
            grid += "<div class='panel-heading'><i class='glyphicon glyphicon-stats'></i>&nbsp;&nbsp;Data Types</div><div class='panel-body'>";
            grid += "<div id='vbarsummary'></div>";
            grid += "</div></div></div></div>";

            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            $("#loader").show();
            $("#btn-export").hide();
            $("#btn-download-logs").hide();
            $("#btn-refresh").hide();
            $("#btn-search").hide();
            $("#scanreminder").show();
            navTo("btn-status");

            $("#mainbody").append(grid);

            // Collect data and populate variables for use later
            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scanstatus', {'id': instanceId}, function(data) {
                        scanName = data[0];
                        scanTarget = data[1];
                        scanStarted = data[2];
                        scanEnded = data[4];
                        scanStatus = data[5];
                        scanCorrelations = data[6];

                        $("#corr-high").html(scanCorrelations['HIGH']);
                        $("#corr-medium").html(scanCorrelations['MEDIUM']);
                        $("#corr-low").html(scanCorrelations['LOW']);
                        $("#corr-info").html(scanCorrelations['INFO']);
                    });
                }
            );

            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scanerrors', {'id': instanceId}, function(data) {
                        $("#errors").html(data.length);
                    });
                }
            );

            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scansummary', {'id': instanceId, 'by': 'type'}, function(data) {
                        scanSummary = [];
                        totalCount = 0;
                        uniqueCount = 0;
                        for (i = 0; i < data.length; i++) {
                            scanSummary[i] = {};
                            scanSummary[i].scanId = instanceId;
                            scanSummary[i].id = data[i][0];
                            scanSummary[i].name = data[i][1];
                            scanSummary[i].total = data[i][3];
                            scanSummary[i].counter = data[i][4];
                            scanSummary[i].link = function(d) { return browseEventData(d.scanId, d.name, d.id, "full"); };
                            totalCount += data[i][3];
                            uniqueCount += data[i][4];
                            scanStatus = data[i][5];
                        }

                        for (x = 0; x < i; x++) {
                            scanSummary[x].pct = scanSummary[x].counter / uniqueCount;
                        }

                        $('#ucounter').html(uniqueCount);
                        $('#tcounter').html(totalCount);
                        $('#scanstatusbadge').html(scanStatus);

                        var statusy = "";
                        if (scanStatus == "FINISHED") {
                            statusy = "alert-success";
                        } else if (scanStatus.indexOf("ABORT") >= 0) {
                            statusy = "alert-warning";
                        } else if (scanStatus == "CREATED" || scanStatus == "RUNNING" || scanStatus == "STARTED" || scanStatus == "STARTING" || scanStatus == "INITIALIZING") {
                            statusy = "alert-info";
                        } else if (scanStatus.indexOf("FAILED") >= 0) {
                            statusy = "alert-danger";
                        } else {
                            statusy = "alert-info";
                        }
                        $('#scanstatusbadge').removeClass(["alert-info", "alert-warning", "alert-danger"]).addClass(statusy);
                        $('#status').html(scanStatus);
                        $("#vbarsummary").empty();
                        if (scanSummary.length == 0) {
                          $("#vbarsummary").append("<div id='scansummary-content' class='alert alert-warning'><h4>No data.</h4>If the scan is still running this section will update shortly.</div>");
                        } else {
                          sf_viz_vbar("#vbarsummary", scanSummary);
                        }
                        $("#loader").fadeOut(500);
                    });
                }
            );

            loadersrunning = true;
            for (var i = 0; i < dataloaders.length; i++) {
                dataloaders[i]();
            }
            loadersrunning = false;
        }

        // Expand the correlation list to show the events associated
        function toggleCorrelation(instanceId, correlationId) {
            if (!$("#corrwell_tr_" + correlationId).hasClass("hidden")) {
                $("#corrwell_td_" + correlationId).empty();
                $("#corrwell_tr_" + correlationId).addClass("hidden");
                return;
            }
            sf.fetchData('${docroot}/scaneventresults', { 'id': instanceId, 'correlationId': correlationId }, function(data) {
                var table = "<table id='corrcontent_'" + correlationId + "' class='table table-bordered table-striped small'>";
                table += "<thead><tr>";
                table += "<th>Data Element</th></th>";
                table += "<th>Source Data Element</th>";
                table += "<th>Source Module</th>";
                table += "<th>Identified</th>";
                table += "</tr></thead><tbody>";

                for (var i = 0; i < data.length; i++) {
                    table += "<tr>";
                    table += "<td><pre class='table-border-bg-inherit'>";
                    table += sf.replace_sfurltag(data[i][1]);
                    table += "</pre></td><td><pre class='table-border-bg-inherit'>";
                    table += sf.replace_sfurltag(data[i][2]);
                    table += "</pre></td><td><pre class='table-border-bg-inherit'>" + data[i][3];
                    table += "</pre></td><td><pre class='table-border-bg-inherit'>" + data[i][0];
                    table += "</pre></td>";
                    table += "</tr>";
                }
                table += "</tbody></table>"
                $("#corrwell_td_" + correlationId).prepend(table);
                $("#corrwell_tr_" + correlationId).removeClass("hidden");
            });
        }

        // Correlation results for the scan
        function browseCorrelations(instanceId) {
            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            $("#loader").show();
            $("#btn-search").hide();
            $("#btn-export").hide();
            $("#scanreminder").hide();
            navTo("btn-correlations");
            refresh = function() { browseCorrelations(instanceId); }
            sf.fetchData('${docroot}/scancorrelations', {'id': instanceId}, function(data) {
                if (data.length == 0) {
                    table = "<div id='scansummary-content' class='alert alert-warning'><h4>No correlations.</h4>If the scan is still running please reload once it has completed.</div>";
                    $("#loader").fadeOut(500);
                    $("#mainbody").append(table);
                    sf.updateTooltips();
                    return;
                }
                var table = "<table id='scansummary-content' class='table table-bordered table-striped table-condensed tablesorter small'>";
                table += "<thead><tr><th>Correlation</th><th>Risk</th><th>Data Elements</th></tr></thead><tbody>";
                for (var i = 0; i < data.length; i++) {
                    table += "<tr>";
                    table += "<td><a style='cursor: pointer' onClick='toggleCorrelation(\"" + instanceId + "\",\"" + data[i][0] + "\")'>" + data[i][1] + "</a>&nbsp;&nbsp;";
                    table += "<i class='glyphicon glyphicon-question-sign' style='color: #ccc' rel='tooltip' data-title=\"" + data[i][5] + "\"></i>";
                    table += "</td>";
                    if (data[i][3] == "HIGH") {
                        statusy = "alert-danger";
                    }
                    if (data[i][3] == "MEDIUM") {
                        statusy = "alert-warning";
                    }
                    if (data[i][3] == "LOW") {
                        statusy = "alert-info";
                    }
                    if (data[i][3] == "INFO") {
                        statusy = "alert-success";
                    }
                    table += "<td><span class='badge " + statusy + "'>" + data[i][3] + "</span></td>";
                    table += "<td>" + data[i][7] + "</td>";
                    table += "</tr><tr class='hidden' id='corrwell_tr_" + data[i][0] + "'><td colspan=3 id='corrwell_td_" + data[i][0] + "'></td></tr>";
                }
                table += "</tbody></table>";
                $("#loader").fadeOut(500);
                $("#mainbody").append(table);
                $.tablesorter.addParser({ 
                    id: 'criticality', 
                    is: function(s) { 
                        return false; 
                    }, 
                    format: function(s) { 
                        return s.toLowerCase().replace(/high/,3).replace(/medium/,2).replace(/low/,1).replace(/info/,0); 
                    }, 
                    type: 'numeric' 
                });
                $("#scansummary-content").tablesorter({ headers: { 1: { sorter: 'criticality' } } });
                sf.updateTooltips();
            });
        }

        // Logs for the scan
        function viewScanLog(instanceId) {
            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            $("#loader").show();
            $("#btn-search").hide();
            $("#btn-export").hide();
            $("#btn-download-logs").show();
            $("#scanreminder").hide();
            navTo("btn-log");
            refresh = function() { viewScanLog(instanceId); }
            sf.fetchData('${docroot}/scanlog', {'id': instanceId}, function(data) {
                            var table = "<table id='scanlogs-content' class='table table-bordered table-striped table-condensed small tablesorter' style='table-layout: fixed'>";
                            table += "<thead><tr><th>Time</th><th>Component</th><th>Type</th><th>Event</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                if (data[i][2] == "ERROR") {
                                  table += "<tr class='danger'>";
                                } else {
                                  table += "<tr>";
                                }
                                table += "<td>" + data[i][0] + "</a></td>";
                                table += "<td>" + data[i][1] + "</td>";
                                table += "<td>" + data[i][2] + "</td>";
                                table += "<td>" + data[i][3] + "</td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>";
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(table);
                            $("#scanlogs-content").tablesorter({widgets: ["filter"], widgetOptions : { filter_searchDelay : 300, filter_hideFilters : false }});
            });
        }

        // Summary of event types and counts for a scan
        function browseEventList(instanceId) {
            currentType = "ALL";
            currentTypeName = "All";

            // Remove pre-existing tables if they exist
            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            navTo("btn-browse");
            $("#loader").show();
            $("#btn-export").show();
            $("#btn-download-logs").hide();
            $("#btn-refresh").show();
            $("#btn-search").show();
            $("#scanreminder").hide();
            refresh = function() { browseEventList(instanceId); }
            sf.fetchData('${docroot}/scansummary', {'id': instanceId, 'by': 'type'}, function(data) {
                            var table = "<table id='scansummary-content' class='table table-bordered table-striped tablesorter'>";
                            table += "<thead><tr> <th>Type</th><th>Unique Data Elements</th> <th>Total Data Elements</th><th>Last Data Element</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr><td><a class='link' onClick='";
                                table += "browseEventData(\"${id}\", \"" + escape(data[i][1]) + "\", \"" + data[i][0] + "\", \"full\");'>";
                                table += data[i][1] + "</a></td>";
                                table += "<td>" + data[i][4] + "</td>";
                                table += "<td>" + data[i][3] + "</td>";
                                table += "<td>" + data[i][2] + "</td>";
                            }
                            table += "</tbody></table>"

                            if (data.length < 1) {
                                table = "<div id='scansummary-content' class='alert alert-warning'><h4>No data.</h4>If the scan is still running please try again soon.</div>";
                            }

                            $("#loader").fadeOut(500);
                            $("#mainbody").append(table);
                            $("#scansummary-content").tablesorter();
            });
        }

        // Detailed view of data for an event type for a scan
        function browseEventData(instanceId, eventTypeLabel, eventType, format, filterFP) {
            if (filterFP === 'undefined') {
                filterFP = false;
            }
            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            $("#breadcrumbs").remove();
            $("#loader").show();
            navTo("btn-browse");
            $("#btn-export").show();
            $("#btn-download-logs").hide();
            $("#btn-refresh").show();
            $("#btn-search").show();
            $("#customtabview").show();
            $("#scanreminder").hide();
            currentType = eventType;
            currentTypeName = eventTypeLabel;
            refresh = function() { browseEventData(instanceId, eventTypeLabel, eventType, format, filterFP); }
            browseUpdate = function(newformat) { browseEventData(instanceId, eventTypeLabel, eventType, newformat, filterFP); }

            if (format == 'full') {
                $("#btn-fullview").addClass("active");
                $("#btn-uniqueview").removeClass("active");
                $("#btn-vizview").removeClass("active");
                $("#modifyactions").show();
                sf.fetchData('${docroot}/scaneventresults', {'id': instanceId, 'eventType': eventType }, function(data) {
                            totalcount = 0;
                            fpcount = 0;
                            for (var i = 0; i < data.length; i++) {
                                totalcount++;
                                if (data[i][8] == "1") {
                                    fpcount++;
                                }
                            }
                            var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                            crumbs += " <span class='divider'></span></li> <li><a class='link' onClick=";
                            crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"";
                            crumbs += format + "\", " + filterFP + ");'>";
                            crumbs += unescape(eventTypeLabel) + "</a></li>";
                            if (fpcount > 0) {
                                crumbs += "<div class='pull-right text-center'><i class='glyphicon glyphicon-ban-circle'></i>&nbsp;&nbsp;Hide " + fpcount + " False Positives: ";
                                crumbs += "<input class='vertical-align-top' type='checkbox' ";
                                crumbs += "onClick=\"browseEventData('" + instanceId + "', '" + eventTypeLabel +"', '" + eventType + "'";
                                crumbs += ",'" + format + "', ";
                                if (!filterFP) {
                                    fp = 1;
                                    ch = "";
                                } else {
                                    fp = 0;
                                    ch = "checked";
                                }
                                crumbs += fp + ")\" " + ch + "></input></div>";
                            }
                            crumbs += "</ul>";

                            var table = "<table id='scansummary-content' class='table table-bordered table-striped small tablesorter'>";
                            table += "<thead><tr>";
                            table += "<th class='text-center'><input id='checkall' type='checkbox' onClick='switchSelectAll()'></th>";
                            table += "<th>Data Element</th></th>";
                            table += "<th>Source Data Element</th>";
                            table += "<th>Source Module</th>";
                            table += "<th>Identified</th>";
                            table += "</tr></thead><tbody>";

                            for (var i = 0; i < data.length; i++) {
                                if (filterFP && data[i][8] == "1") {
                                    continue;
                                }
                                table += "<tr>";
                                table += "<td class='text-center'><input type='checkbox' id='cb_" + data[i][7] + "'>";
                                if (data[i][8] == "1") {
                                    table += "<br /><i class='glyphicon glyphicon-ban-circle' class='vertical-align-bottom' />";
                                }
                                table += "</td>";
                                table += "<td><pre class='table-border-bg-inherit'>";
                                //table += "<a href='${docroot}/entityinfo?id=" + data[i][7] + "'>" + data[i][1] + "</a>";
                                table += sf.replace_sfurltag(data[i][1]);
                                table += "</pre></td><td><pre class='table-border-bg-inherit'>";
                                table += sf.replace_sfurltag(data[i][2]);
                                table += "</pre></td><td><pre class='table-border-bg-inherit'>" + data[i][3];
                                table += "</pre></td><td><pre class='table-border-bg-inherit'>" + data[i][0];
                                table += "</pre></td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>"
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(crumbs + table);
                            $("#scansummary-content").tablesorter({ headers: { 0: { sorter: false } } });
                            lastChecked = null;
                            var chkboxes = $('input[id*=cb_]');
                            chkboxes.click(function(e) {
                                if(!lastChecked) {
                                    lastChecked = this;
                                    return;
                                }

                                if(e.shiftKey) {
                                    var start = chkboxes.index(this);
                                    var end = chkboxes.index(lastChecked);

                                    chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

                                }

                                lastChecked = this;
                            });

                });
            }

            if (format == 'unique') {
                $("#btn-uniqueview").addClass("active");
                $("#btn-fullview").removeClass("active");
                $("#btn-vizview").removeClass("active");
                if (filterFP == "0") {
                    filterFP = null;
                }
                sf.fetchData('${docroot}/scaneventresultsunique', {'id': instanceId, 'eventType': eventType, 'filterfp': filterFP }, function(data) {
                            var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                            crumbs += " <span class='divider'></span></li> <li><a class='link' onClick=";
                            crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"" + format;
                            crumbs += "\", " + filterFP + ");'>";
                            crumbs += unescape(eventTypeLabel) + "</a></li>";
                            crumbs += "<div class='pull-right text-center'><i class='glyphicon glyphicon-ban-circle'></i>&nbsp;&nbsp;&nbsp;&nbsp;Hide False Positives: ";
                            crumbs += "<input class='vertical-align-top' type='checkbox' ";
                            crumbs += "onClick=\"browseEventData('" + instanceId + "', '" + eventTypeLabel +"', '" + eventType + "'";
                            crumbs += ",'" + format + "', ";
                            if (!filterFP) {
                                fp = 1;
                                ch = "";
                            } else {
                                fp = 0;
                                ch = "checked";
                            }
                            crumbs += fp + ")\" " + ch + "></input></div>";
                            crumbs += "</ul>";

                            var table = "<table id='scansummary-content' class='table table-bordered table-striped small'>";
                            table += "<thead><tr> <th>Unique Data Element</th><th>Occurrences</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr><td><pre class='table-border-bg-inherit'>";
                                table += sf.replace_sfurltag(data[i][0]);
                                table += "</pre></td><td>" + data[i][2] + "</td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>"
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(crumbs + table);
                });
            }

            if (format.indexOf('viz') == 0) {
                $("#btn-vizview").addClass("active");
                $("#btn-fullview").removeClass("active");
                $("#btn-uniqueview").removeClass("active");

                if (format.indexOf("viz-bubble") == 0) {
                    sf.fetchData('${docroot}/scaneventresults', {'id': instanceId, 'eventType': eventType }, function(data) {
                        var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                        crumbs += " <span class='divider'>;</span></li> <li><a class='link' onClick=";
                        crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"" + format + "\");'>";
                        crumbs += unescape(eventTypeLabel) + "</a></li></ul>";
                        itemList = []
                        for (var i = 0; i < data.length; i++) {
                            if (format == "viz-bubble-source") {
                                itemList.push(sf.remove_sfurltag(data[i][2]));
                            }
                            if (format == "viz-bubble-data") {
                                itemList.push(sf.remove_sfurltag(data[i][1]));
                            }
                        }
                        $("#loader").fadeOut(500);
                        $("#mainbody").append(crumbs + "<div id='scansummary-content' class='text-center'></div>");
                        sf_viz_bubble("#scansummary-content", itemList)
                    });
                }

                if (format == "viz-dendro") {
                    sf.fetchData("${docroot}/scanelementtypediscovery", {'id': instanceId, 'eventType': eventType }, function(data) {
                        var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                        crumbs += " <span class='divider'></span></li> <li><a class='link' onClick=";
                        crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"" + format + "\");'>";
                        crumbs += unescape(eventTypeLabel) + "</a></li></ul>";

                        $("#loader").fadeOut(500);
                        $("#mainbody").append(crumbs + "<div id='scansummary-content' class='text-center'></div>");
                        sf_viz_dendrogram("#scansummary-content", data);
                    });
                }
            }
        }

        function downloadLogs(instanceId) {
            $("#loader").show();
            sf.log("Loading logs for scan: " + instanceId);
            var efr = document.getElementById('exportframe');
            var urlBase = '${docroot}/scanexportlogs?id=';
            efr.src = urlBase + instanceId;
            $("#loader").fadeOut(500);
        }

        // Download the data currently being viewed
        function exportEventData(instanceId, eventType, fileType) {
            $("#loader").show();
            var efr = document.getElementById('exportframe');
            if (currentSection == "btn-search") {
                if (lastSearchType == null || lastSearchType == "ALL") {
                    type = "";
                } else {
                    type = lastSearchType;
                }
                if (fileType == "excel") {
                    var urlBase = '${docroot}/scansearchresultexport?filetype=excel&id=';
                } else {
                    var urlBase = '${docroot}/scansearchresultexport?id=';
                }
                efr.src = urlBase + instanceId + '&eventType=' + type + "&value=" + lastSearchQuery;
            }

            if (currentSection == "btn-browse") {
                if (fileType == "excel") {
                    var urlBase = '${docroot}/scaneventresultexport?filetype=excel&id=';
                } else {
                    var urlBase = '${docroot}/scaneventresultexport?id=';
                }
                efr.src = urlBase + instanceId + '&type=' + eventType;
            }

            if (currentSection == "btn-graph") {
                sf.log("Loading visualisation for scan: " + instanceId);
                efr.src = '${docroot}/scanviz?id=' + instanceId + '&gexf=1';
            }

            $("#loader").fadeOut(500);
        }

        // View the configuration that was used for this scan
        function viewScanConfig(instanceId) {
            $("#scansummary-content").remove();
            $("#scanlogs-content").remove();
            $("#loader").show();
            $("#btn-export").hide();
            $("#btn-download-logs").hide();
            $("#btn-refresh").show();
            $("#btn-search").hide();
            $("#scanreminder").hide();
            navTo("btn-info");
            refresh = function() { viewScanConfig(instanceId); }
            sf.fetchData('${docroot}/scanopts', {'id': instanceId}, function(data) {
                table = "<div id='scansummary-content'>";
                table += "<h4>Meta Information</h4>";
                table += "<table class='table table-bordered table-striped'>";
                table += "<tr><td>Name:</td><td>" + data['meta'][0] + "</td></tr>";
                table += "<tr><td>Internal ID:</td><td>${id}</td></tr>";
                table += "<tr><td>Target:</td><td>" + data['meta'][1] + "</td></tr>";
                table += "<tr><td>Started:</td><td>" + data['meta'][3] + "</td></tr>";
                table += "<tr><td>Completed:</td><td>" + data['meta'][4] + "</td></tr>";
                table += "<tr><td>Status:</td><td>" + data['meta'][5] + "</td></tr>";
                table += "</table>";
                table += "<h4>Global Settings</h4>";
                table += "<table class='table table-bordered table-striped' style='table-layout: fixed'>";
                table += "<thead><tr><th>Option</th><th>Value</th></tr></thead><tbody>";
                for (var key in data['config']) {
                    if (key.indexOf(":") > 0) {
                        continue;
                    }
                    table += "<tr><td width=100%>" + data['configdesc'][key] + "</td><td>" + data['config'][key] + "</td></tr>";
                }
                table += "</table>";
                table += "<h4>Module Settings</h4>";
                table += "<div class='table-responsive'><table class='table table-bordered table-striped' style='table-layout: fixed'>";
                table += "<thead><tr><th>Module</th> <th>Option</th> <th>Value</th></tr></thead><tbody>";
                keys = [];
                for (var key in data['config']) {
                    keys.push(key);
                }
                keys_s = keys.sort();

                for (var i = 0; i < keys_s.length; i++) {
                    key = keys_s[i];
                    if (key.indexOf(":") > 0) {
                        bits = key.split(":");
                        table += "<tr><td>" + bits[0] + "</td><td>" + data['configdesc'][key] + "</td><td>" + data['config'][key] + "</td></tr>";
                    }
                }
                table += "</table></div></div>";

                $("#loader").fadeOut(500);
                $("#mainbody").append(table);
            });
        }

        if ("${status}" == "CREATED" || "${status}" == "RUNNING" || "${status}" == "STARTING" || "${status}" == "STARTED" || "${status}" == "UNKNOWN" || "${status}" == "INITIALIZING") {
            scanSummaryView("${id}");
        } else {
            browseEventList("${id}");
        }

        var refreshSummaryInterval;

        refreshSummary = function() {
            var status = document.getElementById("scanstatusbadge").innerHTML;

            if (status == "ERROR-FAILED" || status == "FINISHED" || status == "ABORTED") {
                sf.log("Scan is " + status);
                clearInterval(refreshSummaryInterval);
                return;
            }

            sf.log("Scan is " + status + ". Refreshing scan summary ...");

            for (var i = 0; i < dataloaders.length; i++) {
                if (!loadersrunning) {
                    loadersrunning = true;
                    dataloaders[i]();
                    loadersrunning = false;
                }
            }
        }

        refreshSummaryInterval = setInterval(refreshSummary, 5000);

        // Scan duration: how long a scan ran (finished) or has been running (live).
        var scanStartedEpoch = ${started};
        var scanEndedEpoch = ${ended};
        var scanFrozenEnd = 0;

        function fmtDuration(secs) {
            if (secs < 0) secs = 0;
            var h = Math.floor(secs / 3600);
            var m = Math.floor((secs % 3600) / 60);
            var s = Math.floor(secs % 60);
            var out = "";
            if (h > 0) out += h + "h ";
            if (h > 0 || m > 0) out += m + "m ";
            return out + s + "s";
        }

        function updateElapsed() {
            var el = document.getElementById("scanelapsed");
            if (!el) return;
            if (!scanStartedEpoch || scanStartedEpoch < 1) { el.innerHTML = ""; return; }

            var status = document.getElementById("scanstatusbadge").innerHTML;
            var terminal = (status == "FINISHED" || status.indexOf("ABORT") >= 0 || status.indexOf("FAILED") >= 0);

            var end, label;
            if (scanEndedEpoch && scanEndedEpoch > 1) {
                end = scanEndedEpoch;            // already finished at page load
                label = "took ";
            } else if (terminal) {
                // Finished while we were watching: freeze at the moment we noticed.
                if (!scanFrozenEnd) scanFrozenEnd = Math.floor(Date.now() / 1000);
                end = scanFrozenEnd;
                label = "took ";
            } else {
                end = Math.floor(Date.now() / 1000);  // still running
                label = "running ";
            }
            el.innerHTML = label + fmtDuration(end - scanStartedEpoch);
        }

        updateElapsed();
        setInterval(updateElapsed, 1000);

    </script>
<iframe class="hidden" id='exportframe'></iframe>
<%include file="FOOTER.tmpl"/>
